.addRecipe_container {
  display: flex;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Hind Guntur', serif;
  z-index: 1000;
}
.addRecipe_title {
  display: block;
  margin: 10px auto 10px;
  text-align: center;
  font-size: 24px;
}
.addRecipe_form_container {
  width: 100%;
}
.addRecipe_form {
  width: 100%;
}
.inputs_item {
  margin-bottom: 10px;
}
.input {
  display: block;
  padding: 5px;
  width: 100%;
  font-size: 20px;
}
.addRecipe_form textarea {
  min-height: 40vh;
}

.addRecipe_form_controls_container {
  display: flex;
  justify-content: center;
}
.addRecipe_form_clearBtn,
.addRecipe_form_submitBtn {
  margin-right: 30px;
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  background-color: rgb(110, 114, 114);
  cursor: pointer;
  outline: none;
}
.addRecipe_form_clearBtn {
  margin-right: 30px;
}
.addRecipe_form_clearBtn:hover {
  transform: translateY(1px);
}
.addRecipe_form_submitBtn:hover {
  transform: translateY(1px);
}
.addRecipe_form_clearBtn:active {
  background-color: rgb(8, 170, 245);
}
.addRecipe_form_submitBtn:active {
  background-color: rgb(8, 170, 245);
}
